@page "/producto"
<h3 style="text-align:center">Productos</h3>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>Nombre del producto</tr>
            <tr>Descripcion</tr>
            <tr>Precio</tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>


@code {

}
